[Desktop Entry]
Version=1.0
Name=Discord
Exec=agent0s-launch-webapp https://discord.com/channels/@me
Terminal=false
Type=Application
Icon=agent0s-discord
StartupNotify=true
